body{
  background-color:#C0C0C0;
  width:100%;
  
}

hr{
  color:pink;
}
h2{
  color:#ffffff;
  text-align:center;
}
ul li{
  display:inline-block;
  padding-right:30px;
}

.text-link{
  text-decoration: none;
  color:#ffffff;
}

img{
  position:absolute;
  top:20%;
  left:43%;
  height:30vh;
  width:30vh;
  border-radius:100%;
}